lenguaje de marcas/xml hardware/hardware.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="inventario">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="equipo" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="categoria" type="xs:string"/> <xs:element name="modelo" type="xs:string"/>
              <xs:element name="especificaciones">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="cpu" type="xs:string"/>
                    <xs:element name="ram" type="xs:string"/>
                    <xs:element name="almacenamiento" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="tipo" type="xs:string"/> </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="otros" type="xs:string" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="estado" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>